


<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-6 offset-md-3 offset-lg-3">
    <%= simple_form_for :search, url: root_path, method: "GET", html: {id: 'query', class: 'simple_form search' } do |f| %>
      <div class="search-form-control form-group">
        <%= f.input :name, label: false, input_html: {value: "", placeholder: "Un restaurant, un thème", class: 'form-control string required'} %>
        <%= f.submit "Chercher", class: "btn btn-flat" %>
      </div>
<% end %>
  </div>
</div>









