.flash {
  padding: 20px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;

}

.flash-success {
  border: 2px solid #1EDD88;
  background-color: #1EDD88;
  color: white;
}

.flash-warning {
  border: 2px solid #FFC65A;
  background-color: #FFC65A;
  color: white;
}

.flash-danger {
  border: 2px solid #FD1015;
}

.display-none{
  display: none;
}


  .disappear{
    transition: 0.3s;
    opacity: 0;
  }
